extends layout
block vars
	- var title = "Квартира дня";
block content
	#fullpage.Fullpage
		include includes/blocks/FirstSection
		include includes/blocks/SecondSection
	a(href="tel:+74952494646", title="Позвонить нам").CallButton.MainContent_callButton
		include includes/svg/SvgIco/icon_phone_green
block page_bottom
	script(src="/js/index.js")