.hidden-xs
	@media $xs
		display none!important
.hidden-smMinus
	@media $smMinus
		display none!important
.hidden-sm
	@media $sm
		display none!important
.hidden-smPlus
	@media $smPlus
		display none!important
.hidden-mdPlus
	@media $mdPlus
		display none!important
				
.hidden
	display none!important