font-face(fontFamily, fontUrl, fontWeight = normal, fontStyle = normal)
    @font-face
        font-family: fontFamily
        src: url(fontUrl + '.eot')
        src: url(fontUrl + '.eot?#iefix') format('embedded-opentype'),url(fontUrl + '.woff2') format('woff2'), url(fontUrl + '.woff') format('woff'),url(fontUrl + '.ttf') format('truetype'), url(fontUrl + '.svg#DINPro-Light') format('svg')
        font-weight: fontWeight
        font-style: fontStyle