.BtnDefault
	display inline-block
	padding 12px 74px 14px 77px
	background-image linear-gradient(99deg, #86c98b, #7dcac5)
	box-shadow: 0 10px 15px 0 rgba(51, 76, 86, 0.13)
	font-weight 600
	font-size 14px
	text-indent 4px
	color $white
	
	&:hover
		background-image linear-gradient(to right, #ffd46c, #fabf2e)
	
	@media $smPlus
		padding-right 79px
		padding-left 68px
	
	@media $mdPlus
		padding-right 80px
		padding-left 66px