.FancyboxContainer
	&-privacyPolicy
		.PrivacyPolicyPopup
			padding 58px 26px 50px 39px
			
		.FancyboxSlide
			padding 0
		
		.FancyboxCloseBtn
			top 20px
			right 19px
			width 22px
			height 22px
			padding 0
			color #5B6573
			
			& > svg
				margin 2px auto 0
				
				path
					stroke-width 0
			
			&:after
				display none