.FirstSection
	position relative
	padding 8px
	background url('../img/mask.svg') 0 0 / 215px auto
	
	@media $smPlus
		padding 8px 8px 11px
		background-size 216px auto
	
	@media $mdPlus
		padding 0
		background none
	
	&:after
		content ""
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-image linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0))
		pointer-events none
	
	&_inner
		position relative
		height 100%
		padding 14px 9px
		background url('../img/first_section_bg.jpg') 16.2% -6px / auto 102.3% no-repeat
		
		@media $xs
			min-height 460px
		
		@media $sm
			min-height 836px
			padding 28px 26px
			background-position 30.5% -8px
			background-size auto 99.7%
		
		@media $mdPlus
			padding 22px 28px
			background-position 1.6% -60px
			background-size auto 127.3%
		
		@media $lg
			padding 15px 24px
			background-position 1.4% -65px
			background-size auto 114.6%
		
		&:before
			content ""
			position absolute
			left 14px
			bottom 1px
			width 152px
			height 189px
			background url('../img/mimes.png') 0 0 / contain no-repeat
			
			@media $sm
				bottom 11px
				left 50px
				width 376px
				height 469px
			
			@media $mdPlus
				bottom -1.6%
				left 26.2%
				width 41.185%
				height auto
				padding-top 51.4%
			
			@media $lg
				left 24.5%
				width 45.254%
				padding-top 56.482%
		
		&:after
			content ""
			position absolute
			bottom 0
			right 29px
			width 98px
			height 188px
			background url('../img/pointer.png') 0 0 / contain no-repeat
			
			@media $sm
				right 46px
				bottom 19px
			
			@media $smPlus
				width 196px
				height 375px
			
			@media $mdPlus
				bottom -1.6%
				right -13.9%
				width 29.037%
				height auto
				padding-top 46.1%
				background-size 100% auto
			
			@media $lg
				right -13.6%
				width 26.924%
				padding-top 51.556%
			
	&_top
		display flex
		justify-content space-between
		align-items flex-start
		margin-bottom 23px
		
		@media $smPlus
			margin-bottom -4px
		
		@media $mdPlus
			margin-bottom -13px
			justify-content flex-start
		
		@media $lg
			margin-bottom 5px
			
	&_logo
		@media $smPlus
			width 173px
		
		@media $mdPlus
			width 17%
		
		@media $lg
			width 20.078%
	
	&_logoImg, &_labelImg
		width 100%
	
	&_label
		width 149px
		// align-self flex-end
		margin-top 30px
		margin-right -20px
		
		@media $smPlus
			width 282px
			margin-right -39px
		
		@media $mdPlus
			flex-basis 45.557%
			margin-top 0
			margin-right 0
			margin-left 56px
		
		@media $lg
			flex-basis 50.676%
			margin-top 8px
			margin-left 54px
	
	&_phone
		margin-top -2px
		margin-right 3px
		
		@media $smPlus
			margin-top -1px
			margin-right 6px
	
	&_phoneNumber
		font-weight 500
		font-size 16px
		letter-spacing 0.3px
	
	&_headlines
		text-align center
		
		@media $sm
			margin-left 38px
		
		@media $lg
			margin-left 32px
	
	&_title, &_subtitle
		font-weight bold
		line-height normal
		color #FFF
	
	&_title
		margin-bottom -4px
		font-size 30px
		letter-spacing 0.7px
		
		@media $smPlus
			margin-bottom -7px
			font-size 60px
			letter-spacing 2.1px
		
		@media $mdPlus
			text-indent -7px
		
		@media $lg
			margin-bottom -5px
			font-size 80px
			letter-spacing 2.9px
			text-indent 0
	
	&_subtitle
		font-size 18px
		letter-spacing 0.6px
		
		@media $smPlus
			font-size 37px
			letter-spacing 1.3px
		
		@media $mdPlus
			text-indent -14px
		
		@media $lg
			font-size 43px
			letter-spacing 1.5px
			text-indent -8px
	
	&_winnerLogo
		position absolute
		z-index 1
		right 20px
		bottom 40px
		width 90px
		
		@media $mdPlus
			right 26px
			bottom 20px