.Footer
	padding 13px 5px
	background #1B1E22
	color rgba(255, 255, 255, .3)
	font-size 8px
	text-align center
	letter-spacing 0.2px
	
	a
		text-decoration underline
		
		&:hover
			text-decoration none
	
	@media $smPlus
		padding 20px 20px 13px
		font-size 11px
		line-height 16px
	
	@media $mdPlus
		padding 20px 15px 15px
		font-size 10px
		letter-spacing 0.6px