.Fullpage
	@media $mdPlus
		display flex
		flex 1 0 auto
		padding 0.58565%
		background url('../img/mask.svg') 0 0 / 216px auto
	
	&_section
		@media $mdPlus
			flex-basis 50%
		
		@media $lg
			&-first
				flex-basis 46%
			
			&-second
				flex-basis 54%