.Phone
    color $white
    
    & > .SvgIco
        width 17px
        
        @media $smPlus
            width 18px
            margin-top -3px
            margin-right 15px
    
    &-dark
        color $darkBlue