.ps
	&--privacyPolicy
		.ps__thumb-x, .ps__thumb-y
			border-radius 2px
			background linear-gradient(174deg, #7dcac4, #7dcac5);
		
		.ps__thumb-y
			right -1px
			width 4px
			outline none
			cursor pointer
		
		.ps__rail-x, .ps__rail-y
			opacity 1
			background-color rgba(91, 101, 115, .15)
		
		.ps__rail-y
			right 3px
			width 2px
			
			&.ps--clicking, &:focus, &:hover
				opacity 1
				background-color rgba(91, 101, 115, .15)
					
				& > .ps__thumb-y
					width 4px
	
	&:hover
		& > .ps__rail-y
			opacity 1