.SecondSection
	@media $mdPlus
		background $white
			
	&_inner
		display flex
		flex-direction column
		height 100%
	
	&_top
		position relative
		display flex
		flex-direction column
		justify-content center
		align-items center
		flex 1 0 auto
		padding 0 27px 29px
		text-align center
		
		@media $sm
			position relative
			padding-top 48px
			padding-bottom 54px
		
			&:after
				content ""
				position absolute
				z-index -1
				bottom -11px
				left 58px
				width 174px
				height 217px
				background url('../img/mimes.png') 0 0 / contain no-repeat
		
		@media $mdPlus
			padding 48px 19px 15px 27px
		
		@media $lg
			padding-top 66px
			padding-bottom 25px
	
	&_winnerLogo
		width 130px
		margin-bottom 20px
	
	&_title
		margin-bottom 6px
		font-weight 500
		font-size 18px
		line-height 1.23
		letter-spacing 0.4px
		
		@media $smPlus
			margin-bottom 26px
			font-size 23px
			letter-spacing 0.6px
		
		@media $lg
			margin-left 3px
	
	&_phone
		position absolute
		top 27px
		right 32px
		
		@media $lg
			top 24px
			right 26px
	
	&_timer
		margin 0 auto 19px
		
		@media $smPlus
			margin-bottom 58px
		
		@media $mdPlus
			margin-bottom 26px
		
		@media $lg
			margin 0 20px 50px 0
	
	&_img
		margin-bottom 12px
		
		& > img
			width 175px
			
			@media $smPlus
				width 570px
			
			@media $mdPlus
				width 100%
		
		@media $smPlus
			margin-bottom 52px
		
		@media $mdPlus
			width 51%
			margin-bottom 28px
		
		@media $lg
			width 66.418%
			margin-bottom 58px
			margin-left 62px
	
	&_oldPrice
		margin-bottom 8px
		font-weight 500
		font-size 23px
		letter-spacing 0.6px
		text-decoration line-through
		
		@media $lg
			margin-right 18px
	
	&_price
		margin-bottom 16px
		font-weight 600
		font-size 36px
		letter-spacing 0.9px
		color $lightGreen
		
		@media $smPlus
			margin-bottom 27px
		
		@media $mdPlus
			margin-bottom 11px
		
		@media $lg
			margin-bottom 13px
			margin-right 18px
	
	&_btn
		@media $lg
			margin-right 20px
	
	&_footer
		flex 0 0 auto
		
		a
			text-decoration underline
			
			&:hover
				text-decoration none