.Timer
	width 228px
	max-width 100%
	font-weight bold
	
	&_title
		margin-bottom 10px
		font-size 13px
		line-height normal
		text-transform uppercase
		letter-spacing 0.4px
		color $yellow
	
	&_wrapper
		display flex
		justify-content space-between
	
	&_itemNumber
		display flex
		justify-content space-between
		width 71px
		margin-bottom 6px
	
	&_digit
		position relative
		width 35px
		height 40px
		font-size 31px
		line-height 40px
		text-align center
		background #ECECEC
		
		&:before
			content ""
			position absolute
			left 0
			bottom 50%
			width 100%
			height 16px
			background-image linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25))
	
	&_itemLabel
		font-weight bold
		font-size 12px
		line-height normal
		letter-spacing 0.4px
		text-transform uppercase