.section.FirstSection.Fullpage_section.Fullpage_section-first
	.FirstSection_inner
		.FirstSection_top
			a(href="/", title="Новые Котельники").FirstSection_logo
				img(src="uploads/logo.svg", alt="Логотип").FirstSection_logoImg
			.FirstSection_label
				img(src="img/label.png", alt="").FirstSection_labelImg
			a(href="tel:+74952494646", title="Позвонить нам").Phone.FirstSection_phone.hidden-mdPlus
				include ../svg/SvgIco/icon_phone
				span.FirstSection_phoneNumber.hidden-xs +7 495 249-46-46
		.FirstSection_headlines
			h1.FirstSection_title #{title}
			h2.FirstSection_subtitle Двушка по цене однушки
		img(src="uploads/logo.png", alt="Логотип").FirstSection_winnerLogo.hidden-xs