.section.SecondSection.Fullpage_section.Fullpage_section-second
	.SecondSection_inner
		.SecondSection_top
			img(src="uploads/logo.png", alt="Логотип").SecondSection_winnerLogo.hidden-smPlus
			h2.SecondSection_title!= 'Потрясающая 2-х комнатная квартира 56 м2'
			a(href="tel:+74952494646", title="Позвонить нам").Phone.Phone-dark.SecondSection_phone.hidden-xs.hidden-sm
				include ../svg/SvgIco/icon_phone
				span.FirstSection_phoneNumber +7 495 249-46-46
			include Timer
			.SecondSection_img
				img(src="uploads/layout.svg", alt="Планировка")
			.SecondSection_oldPrice 4 771 200 ₽
			.SecondSection_price 4 520 320 ₽
			a(href="#", title="Забронировать").BtnDefault.SecondSection_btn Забронировать
		.Footer.SecondSection_footer.hidden-mdPlus
			p!= 'Материалы, представленные на сайте не являются публичной офертой. Визуализации объекта являются ориентировочными. <br class="hidden-xs">Застройщик вправе вносить изменения в проектную  документацию в соответствии с действующим законодательством. <a href="#" data-src="#PrivacyPolicyPopup">Политика конфидециальности.</a>'