.Timer.SecondSection_timer
	h3.Timer_title Спецпредложение на сегодня
	.Timer_wrapper(data-datetime="2018/10/31")
		.Timer_item.Timer_item-hours
			.Timer_itemNumber
				span.Timer_digit.Timer_digit-tens
				span.Timer_digit.Timer_digit-units
			.Timer_itemLabel Часы
		.Timer_item.Timer_item-minutes
			.Timer_itemNumber
				span.Timer_digit.Timer_digit-tens
				span.Timer_digit.Timer_digit-units
			.Timer_itemLabel Минуты
		.Timer_item.Timer_item-seconds
			.Timer_itemNumber
				span.Timer_digit.Timer_digit-tens
				span.Timer_digit.Timer_digit-units
			.Timer_itemLabel Секунды